---
---

<footer>
    <p class="title">Useful links:</p>
    <ul>
        <a class="white" href="./wedding-info#schedule">Schedule of events</a>
        <a class="white" href="./travel-info#accommodations">Accommodations info</a>
        <a class="white" href="./wedding-info#faq">Frequently asked questions</a>
    </ul>
</footer>

<style>
    footer {
        background-color: var(--color-green);
        padding: var(--space-medium);

        .title {
            color: var(--color-white);
            margin-bottom: var(--space-tiny);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            padding: 0;
            margin: 0;

            a {
                font-family: var(--font-body);
                font-style: normal;
            }
        }
    }
</style>