@use '@styles/media.scss' as Media;

@layer base {
    :root {
        --color-gray-dark: #303030;
        --color-green: #0B532A;
        --color-orange: #FADFBD;
        --color-offwhite: #FEFEE3;
        --color-white: white;
        --color-black: #161616

        --font-title: "Playfair Display SC", serif;
        --font-body: "Playfair", serif;

        --space-tiny: 0.5rem;
        --space-base: 0.625rem;
        --space-line: 1rem;
        --space-small: 2rem;
        --space-medium: 3rem;
        --space-large: 5rem;
        --space-extra-large: 8rem;
    }

    * {
		/* Foreground, Background */
		scrollbar-color: #999 #333;
	}
	*::-webkit-scrollbar {
		width: 6px; /* Mostly for vertical scrollbars */
		height: 2px; /* Mostly for horizontal scrollbars */
	}
	*::-webkit-scrollbar-thumb { /* Foreground */
		background: #999;
	}
	*::-webkit-scrollbar-track { /* Background */
		background: #333;
	}

    body {
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--color-green);
        font-family: var(--font-title);
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
    }
    a, p {
        font-size: 1.25rem;
        font-family: var(--font-body);
    }
    a {
        --color-link: var(--color-green);
        cursor: pointer;
        color: var(--color-link);
        text-decoration: none;
        font-style: italic;

        &:visited {
            --color-link: color-mix(in srgb, var(--color-green) 80%, var(--color-orange) 20%);
        }

        @include Media.at('medium') {
            &:not(:has(img)) {
                display: inline-block;
                position: relative;

                &:has(.inner) {
                    span.inner {
                        display: inline-block;
                        transition: translate 300ms ease-out;
                    }
        
                    &::before, &::after {
                        content: "";
                        display: block;
                        height: clamp(1px, 0.1rem, 4px);
                        width: 0;
                        background-color: var(--color-link, black);
        
                        position: absolute;
                        bottom: 0;
        
                        transition: width 300ms ease-out;
                    }
                    &::before {
                        left: 0;
                    }
                    &::after {
                        right: 0;
                    }
        
                    &:hover {
                        span.inner {
                            translate: 0px clamp(-2px, -0.1rem, -4px);
                        }
        
                        &::before, &::after {
                            width: calc(50% + 0.1rem);
                        }
                    }
                }
                &:not(:has(.inner)) {
                    &::after {
                        content: "";
                        display: block;
                        height: clamp(1px, 0.05rem, 4px);
                        width: 0;
                        background-color: var(--color-link, black);
        
                        position: absolute;
                        bottom: 0.1rem;
        
                        transition: width 300ms ease-out;
                    }
                    &::after {
                        right: 0;
                        width: 0%;
                    }
        
                    &:hover {
                        &::before, &::after {
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    button {
        cursor: pointer;
    }

    input:focus {
        outline-color: var(--color-green);
    }
}

@layer animations {
    .flip-in-text {
        --animation-duration: 1500ms;
        --animation-delay: 200ms;
        --base-animation-delay: 0ms;
        --animation-timing-function: ease;

        .word {
            display: inline-block;
            overflow: hidden;
            transform: rotateX(-60deg);

            animation-name: rotate-up;
            animation-duration: var(--animation-duration);
            animation-timing-function: var(--animation-timing-function);
            animation-delay: calc(var(--base-animation-delay) + var(--animation-delay));
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;

            .inner-word {
                transform: translateY(100%);

                display: inline-block;
                animation-name: move-up;
                animation-duration: calc(var(--animation-duration) / 2);
                animation-timing-function: var(--animation-timing-function);
                animation-delay: calc(var(--base-animation-delay) + var(--animation-delay) + 100ms);
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
            }
        }
    }

    .expand-in {
        display: inline-block;
        white-space: nowrap;
        max-width: 0;
        overflow: hidden;
        animation-name: expand-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, ease);
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .fade-in {
        opacity: 0;
        animation-name: fade-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, ease-in);
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .fade-image-in {
        opacity: 0;
        animation-name: fade-image-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, cubic-bezier(.27,.03,.31,.99));
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .blur-in {
        filter: blur(var(--blur-at-start, 10px));
        animation-name: blur-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, cubic-bezier(.27,.03,.31,.99));
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .fly-in {
        opacity: var(--opacity-start, 0);
        translate: var(--x-translate, 15%) var(--y-translate, 0%);
        animation-name: fly-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, cubic-bezier(.27,.03,.31,.99));
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes move-up {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes rotate-up {
        from {
            transform: rotateX(-30deg);
        }
        to {
            transform: rotateX(0deg);
        }
    }
    @keyframes expand-in {
        from {
            max-width: var(--max-width-start, 0);
            max-height: var(--max-height-start, 100%);
            opacity: .25;
        }
        to {
            max-width: var(--max-width, 100%);
            max-height: var(--max-height, 100%);
            opacity: 1;
        }
    }
    @keyframes fade-in {
        from {
            opacity: var(--opacity-at-start, 0);
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade-image-in {
        from {
            opacity: var(--opacity-at-start, 0);
            filter: blur(var(--blur-at-start, 20px))
        }
        80% {
            filter: blur(0px)
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fly-in {
        from {
            opacity: var(--opacity-start, 0);
            translate: var(--x-translate, -15%) var(--y-translate, 0%);
        }
        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    @keyframes blur-in {
        from {
            filter: blur(var(--blur-at-start, 10px));
        }
        to {
            filter: blur(0);
        }
    }
}