@layer base {
    :root {
        --color-gray-dark: #303030;
        --color-green: #0B532A;
        --color-orage: #FADFBD;
        --color-offwhite: #FEFEE3;
        --color-white: white;
        --color-black: #161616

        --font-title: "Playfair Display SC", serif;
        --font-body: "Playfair", serif;

        --space-tiny: 0.5rem;
        --space-base: 0.625rem;
        --space-line: 1rem;
        --space-small: 2rem;
        --space-medium: 3rem;
        --space-large: 5rem;
        --space-extra-large: 8rem;
    }

    body {
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-title);
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
    }
    a, p {
        font-family: var(--font-body);
    }
}

@layer animations {
    .flip-in-text {
        --animation-duration: 1500ms;
        --animation-delay: 200ms;
        --base-animation-delay: 0ms;
        --animation-timing-function: ease;

        .word {
            display: inline-block;
            overflow: hidden;
            transform: rotateX(-60deg);

            animation-name: rotate-up;
            animation-duration: var(--animation-duration);
            animation-timing-function: var(--animation-timing-function);
            animation-delay: calc(var(--base-animation-delay) + var(--animation-delay));
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;

            .inner-word {
                transform: translateY(100%);

                display: inline-block;
                animation-name: move-up;
                animation-duration: calc(var(--animation-duration) / 2);
                animation-timing-function: var(--animation-timing-function);
                animation-delay: calc(var(--base-animation-delay) + var(--animation-delay) + 100ms);
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
            }
        }
    }

    .expand-in {
        display: inline-block;
        white-space: nowrap;
        max-width: 0;
        overflow: hidden;
        animation-name: expand-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, ease);
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .fade-in {
        opacity: 0;
        animation-name: fade-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, ease-in);
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .fade-image-in {
        opacity: 0;
        animation-name: fade-image-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, cubic-bezier(.27,.03,.31,.99));
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .blur-in {
        filter: blur(var(--blur-at-start, 10px));
        animation-name: blur-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, cubic-bezier(.27,.03,.31,.99));
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .fly-in {
        opacity: var(--opacity-start, 0);
        translate: var(--x-translate, 0) var(--y-translate, 100%);
        animation-name: fly-in;
        animation-duration: var(--animation-duration, 1000ms);
        animation-timing-function: var(--animation-timing-function, cubic-bezier(.27,.03,.31,.99));
        animation-delay: var(--animation-delay, 0ms);
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes move-up {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes rotate-up {
        from {
            transform: rotateX(-30deg);
        }
        to {
            transform: rotateX(0deg);
        }
    }
    @keyframes expand-in {
        from {
            max-width: 0;
            opacity: .25;
        }
        to {
            max-width: var(--max-width, 100%);
            opacity: 1;
        }
    }
    @keyframes fade-in {
        from {
            opacity: var(--opacity-at-start, 0);
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade-image-in {
        from {
            opacity: var(--opacity-at-start, 0);
            filter: blur(var(--blur-at-start, 20px))
        }
        80% {
            filter: blur(0px)
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fly-in {
        from {
            opacity: var(--opacity-start, 0);
            translate: var(--x-translate, 0px) var(--y-translate, -50%);
        }
        to {
            opacity: 1;
            translate: 0 0;
        }
    }

    @keyframes blur-in {
        from {
            filter: blur(var(--blur-at-start, 10px));
        }
        to {
            filter: blur(0);
        }
    }
}