---
import Head from '@components/infra/Head.astro';
import { actions } from 'astro:actions';
import { CreateCookieString, COOKIE_ID } from 'src/auth';

export const prerender = false;

const title = 'Enter password';

Astro.cookies.delete(COOKIE_ID);

const redirect = Astro.request.headers.get('x-redirect-to') ?? '/';
const result = Astro.getActionResult(actions.checkPassword);
if (result && !result.error) {
    const response = Astro.redirect(redirect);
    response.headers.set('Set-Cookie', CreateCookieString());
    return response;
}
---

<!doctype html>
<html lang="en">
	<head>
		<Head {title} />
	</head>
	<body>
		<main>
            <form method="POST" action={actions.checkPassword}>
                <input name="password" type="password" placeholder="Password"/>
            </form>
        </main>
	</body>
</html>

<style>
    main {
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>