---
import Head from '@components/infra/Head.astro';

export const prerender = false;

const title = 'Enter password';

const redirect = Astro.request.headers.get('x-redirect-to') ?? '/';
---

<!doctype html>
<html lang="en">
	<head>
		<Head {title} />
	</head>
	<body>
		<main>
            <form id="password" method="post" action={`/api/auth?redirect=${encodeURI(redirect)}`}>
                <input name="password" type="password" placeholder="Password"/>
            </form>
        </main>
	</body>
</html>

<style>
    main {
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>