---
import Head from '@components/infra/Head.astro';
import { COOKIE_ID } from 'src/auth';

export const prerender = false;

const title = 'Enter password';

const redirect = Astro.request.headers.get('x-redirect-to') ?? '/';

Astro.cookies.delete(COOKIE_ID);
---

<script>
    const form: HTMLFormElement | null = document.querySelector('form#password');
    form?.addEventListener('submit', async (e: SubmitEvent) => {
        e.preventDefault();
        const response = await fetch(`/api/auth?redirect=${form.getAttribute('data-redirect')}`, {
            method: 'POST', 
            body: new FormData(form),
            redirect: "follow"
        })
        if (!response.ok) {
            console.error('wrong password');
        } else {
            if (response.redirected) {
                window.location.href = response.url;
            }
        }
    })
</script>

<!doctype html>
<html lang="en">
	<head>
		<Head {title} />
	</head>
	<body>
		<main>
            <form id="password" data-redirect={encodeURI(redirect)}>
                <input name="password" type="password" placeholder="Password"/>
            </form>
        </main>
	</body>
</html>

<style>
    main {
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>