---
import Head from '@components/infra/Head.astro';
import TheHeader from '@components/TheHeader.svelte';

interface Props {
	title?: string;
	page?: 'home' | 'default';
}

const { title, page = 'default' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {title} />
	</head>
	<body>
		<TheHeader {page} client:load />
		<slot />
	</body>
</html>