---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  cards: {
    name: string;
    src: ImageMetadata;
  }[];
}
const { cards } = Astro.props;
---

<script>
    const container = document.querySelector('.jump-container');
    if (container) {
        const observer = new IntersectionObserver((entries) => {
            const container = entries[0];
            if (container && container.isIntersecting) {
                const jumpContainer = container.target?.querySelector('.inner-container')
                jumpContainer?.classList.toggle('animate', true);
                observer.disconnect();
            }
        }, {})
        observer.observe(container);
    }
</script>

<div class="jump-container">
    <div class="inner-container">
      {
          cards.map((c) => (
              <div class="card">
                <Image 
                    class="image" 
                    src={c.src} 
                    alt={c.name}
                    width={400}
                    loading={'eager'}
                />
                <p class="title">{c.name}</p>
            </div>
        ))
      }
    </div>
</div>

<style lang="scss">
    @use '@styles/media.scss' as Media;

    .inner-container {
        --animation-base-delay: 500ms;
        --animation-duration: 800ms;
        --offset: 150ms;
        --delay: 120ms;

        --card-size: 120px;
        --border-width: 4px;
        @include Media.at('medium') {
            --card-size: 220px;
            --border-width: 6px;
        }
        @include Media.at('large') {
            --card-size: 300px;
            --border-width: 8px;
        }
        @include Media.at('extra-large') {
            --card-size: 320px;
        }

        --offset-1: calc(-2 * var(--gap));
        --offset-2: calc(-1 * var(--gap));
        --offset-3: 0;
        --offset-4: calc(1 * var(--gap));
        --offset-5: calc(2 * var(--gap));

        --gap: calc(var(--card-size) * 0.55);

        width: 100%;
        height: calc(var(--card-size) * 1.4);
        
        display: none;
        justify-content: center;
        align-items: center;
        
    }

    .card {
        --radius-multiplier: 0.02;

        position: absolute;
        width: var(--card-size, 200px);
        height: calc(var(--card-size, 200px) + 2.5rem);

        background-color: var(--color-white);
        border-radius: calc(var(--card-size) * var(--radius-multiplier));
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

        rotate: var(--rotate);
        opacity: 0;

        border: var(--color-white) var(--border-width) solid;
        border-bottom-width: calc(7 * var(--border-width));
        transition: all 200ms ease-in-out;

        .image {
            border-radius: calc(var(--card-size) * var(--radius-multiplier) - var(--border-width));
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title {
            color: var(--color-offblack);

            padding-left: 0.25rem;
            padding-top: 0.35em;

            font-family: "Permanent Marker", cursive;
            font-weight: 400;
            white-space: nowrap;

            font-size: 0.8rem;
            @include Media.at('medium') {
                font-size: 1.1rem;
            }
            @include Media.at('large') {
                font-size: 1.4rem;
            }
        }
    }

    .inner-container.animate {
        display: flex;
    }

    .inner-container.animate .card {
        animation-name: pop-in;
        animation-delay: var(--animation-delay, 100ms);
        animation-duration: var(--animation-duration, 500ms);
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.27, 0.37, 0.11, 1.22);
    }

    .card:nth-child(1) {
        --animation-delay: calc(var(--animation-base-delay, 100ms) + var(--offset) * 1 + var(--delay));
        --rotate: 10deg;
        translate: var(--offset-1);
    }

    .card:nth-child(2) {
        --animation-delay: calc(var(--animation-base-delay, 100ms) + var(--offset) * 2 + var(--delay));
        --rotate: 5deg;
        translate: var(--offset-2);
    }

    .card:nth-child(3) {
        --animation-delay: calc(var(--animation-base-delay, 100ms) + var(--offset) * 3 + var(--delay));
        --rotate: -3deg;
        translate: var(--offset-3)
    }

    .card:nth-child(4) {
        --animation-delay: calc(var(--animation-base-delay, 100ms) + var(--offset) * 4 + var(--delay));
        --rotate: -10deg;
        translate: var(--offset-4);
    }

    .card:nth-child(5) {
        --animation-delay: calc(var(--animation-base-delay, 100ms) + var(--offset) * 5 + var(--delay));
        --rotate: 2deg;
        translate: var(--offset-5);
    }

    .card:hover, .card:focus {
        transform: rotate(calc(-1 * var(--rotate)));
    }
    .inner-container:has(.card:nth-child(1):hover, .card:nth-child(1):focus) {
        --offset-2: 0;
        --offset-3: calc(1 * var(--gap));
        --offset-4: calc(2 * var(--gap));
        --offset-5: calc(3 * var(--gap));
    }
    .inner-container:has(.card:nth-child(2):hover, .card:nth-child(2):focus) {
        --offset-1: calc(-3 * var(--gap));
        --offset-3: calc(1 * var(--gap));
        --offset-4: calc(2 * var(--gap));
        --offset-5: calc(3 * var(--gap));
    }
    .inner-container:has(.card:nth-child(3):hover, .card:nth-child(3):focus) {
        --offset-1: calc(-3 * var(--gap));
        --offset-2: calc(-2 * var(--gap));
        --offset-4: calc(2 * var(--gap));
        --offset-5: calc(3 * var(--gap));
    }
    .inner-container:has(.card:nth-child(4):hover, .card:nth-child(4):focus) {
        --offset-1: calc(-3 * var(--gap));
        --offset-2: calc(-2 * var(--gap));
        --offset-3: calc(-1 * var(--gap));
        --offset-5: calc(3 * var(--gap));
    }
    .inner-container:has(.card:nth-child(5):hover, .card:nth-child(5):focus) {
        --offset-1: calc(-3 * var(--gap));
        --offset-2: calc(-2 * var(--gap));
        --offset-3: calc(-1 * var(--gap));
        --offset-4: 0;
    }

    @keyframes pop-in {
        from {
            scale: 0.5;
            opacity: 0.8;
            rotate: 0deg;
        }
        to {
            scale: 1;
            opacity: 1;
        }
    }
</style>
